<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 引入需要映射的类 -->
		<mapping class="com.jqyd.gmc.obd.entity.jobinfo.JobInfoEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.photo.PositionPhotoEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.position.PositionEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.terminal.FarmerMachineEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.terminal.FarmerToolEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.terminal.TerminalEntity" />
		<mapping class="com.jqyd.gmc.obd.entity.terminal.TerminalRelationEntity" />
	</session-factory>
</hibernate-configuration>